@model CalculatorApp.Models.Calculator

@{
    ViewBag.Title = "Calculator";
}

<div class="well">
    @using (Html.BeginForm("Calculate", "Home", FormMethod.Post, new {@class = "form-inline"}))
    {
        <fieldset>
	        <div class="form-group">
		        <div class="col-sm-1">
			        @Html.TextBoxFor(model => model.LeftOperand, new {@class = "form-control"})
		        </div>
	        </div>

	        <div class="form-group">
		        <div class="col-sm-4">
			        @Html.DropDownListFor(model => model.Operator,
				        new [] {
					        new SelectListItem { Text = "Select option...", Value = "Select option...", Selected = true,  Disabled = true},
					        new SelectListItem { Text = "+", Value = "+" },
					        new SelectListItem { Text = "-", Value = "-" },
					        new SelectListItem { Text = "*", Value = "*" },
					        new SelectListItem { Text = "/", Value = "/" },
					        new SelectListItem { Text = "^", Value = "^" },
					        new SelectListItem { Text = "mod", Value = "mod" },
					        new SelectListItem { Text = "√", Value = "√" },
					        new SelectListItem { Text = "sin", Value = "sin" },
					        new SelectListItem { Text = "cos", Value = "cos" },
					        new SelectListItem { Text = "tan", Value = "tan" },
					        new SelectListItem { Text = "!", Value = "!" },
					        new SelectListItem { Text = "ln", Value = "ln" },
				        }, new { @class = "form-control", onchange = "Check(this)" })
		        </div>
	        </div>

	        <script type="text/javascript">
        		function Check(that) {
        			if (that.value === "√" || that.value === "sin" || that.value === "cos"
        				|| that.value === "tan" || that.value === "!" || that.value === "ln") {
        				document.getElementById("rightOperand").setAttribute('readonly', 'readonly');
        			}
        		}
        	</script>

            <div class="form-group">
                <div class="col-sm-2">
                    @Html.TextBoxFor(model => model.RightOperand, new { @class = "form-control", @id = "rightOperand"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    @Html.TextBoxFor(model => model.Result, null, new { @class = "form-control", @readonly = true })
                </div>
            </div>

	        <div class="form-group">
		        <div class="col-sm-4 col-sm-offset-2">
			        <button type="submit" class="btn btn-success">Calculate</button>
		        </div>
	        </div>
			
	        <div class="form-group">
		        <div class="col-sm-4 col-sm-offset-1">
			        <button type="reset" class="btn btn-danger" onclick="window.location='http://localhost:8000'">Reset</button>
		        </div>
	        </div>
			
	        <div class="jumbotron">
		        <h4><strong><i class="fa fa fa-search"></i> Calculator functions:</strong></h4>
		        <div class="info">
			        <ul>
				        <li>'<strong>+</strong>' <i>plus</i> - sum Left and Right Operand;</li>
				        <li>'<strong>-</strong>' <i>minus</i> - subtracts Left Operand from Right Operand;</li>
				        <li>'<strong>*</strong>' <i>multiplication</i> - multiplies Left and Right Operand;</li>
				        <li>'<strong>/</strong>' <i>division</i> - divide Left and Right Operand;</li>
				        <li>'<strong>^</strong>' <i>power</i> - power Left Operand with Right Operand;</li>
				        <li>'<strong>mod</strong>' <i>modulo</i> - modulo Left Operand with Right Operand;</li>
				        <li>'<strong>√</strong>' <i>square root</i> - square root of Left Operand (Right Operand
					        - readonly);
				        </li>
				        <li>'<strong>sin</strong>' <i>sin function</i> - sin function of Left Operand in DEG
					        (Right Operand - readonly);
				        </li>
				        <li>'<strong>cos</strong>' <i>cos function</i> - cos function of Left Operand in DEG
					        (Right Operand - readonly);
				        </li>
				        <li>'<strong>tan</strong>' <i>tan function</i> - tan function of Left Operand in DEG
					        (Right Operand - readonly);
				        </li>
				        <li>'<strong>!</strong>' <i>factorial</i> - factorial of Left Operand (Right Operand -
					        readonly);
				        </li>
				        <li>'<strong>ln</strong>' <i>natural logarithm</i> - natural logarithm of Left Operand
					        (Right Operand - readonly);
				        </li>
			        </ul>
		        </div>
	        </div>
        </fieldset>
    }
</div>